* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 10px;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;

}
header
{
    background-color: #FFFFFF;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}
header i
{
    cursor: pointer;


}
header a
{
    text-decoration: none;
    color: #000;

}
header #left-header
{
    display: flex;
    align-items: center;

}

header #left-header img
{
    width: 120px;
    margin-left: 15px;

}
header #left-header .menu
{
    font-size: 24px;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
    margin-left: -3px;
}

header #left-header .menu:hover
{
    background-color: #E4E4E4;
}

header #center-header
{
    display: flex;
    align-items: center;

}

header #center-header form
{
    display: flex;
    align-items: center;

}
header #center-header input
{
    width: 536px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 40px 0 0 40px;
    padding-left: 15px;
}
header #center-header input::placeholder 
{
    font-size: 16px;
    color: #888888;
    font-weight: 400;


}
header #center-header input:focus
{
    outline: none;
}
header #center-header button
{
    width: 65px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 0 40px 40px 0;
    background-color: #f8f8f8;
    margin-left: -2px;
}
header #center-header button .search
{
    font-size: 24px;
}
header #center-header .mic
{
    font-size: 24px;
    margin-left: 10px;
    background-color: #E4E4E4;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
}

header #center-header .mic:hover
{
    background-color: #D9D9D9;

}
header #right-header
{
    display: flex;
    align-items: center;
}
header #right-header .video, .notifications
{
    font-size: 24px;
    margin-right: 10px;
    background-color: #FFFFFF;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
}

header #right-header .video:hover, .notifications:hover
{
    background-color: #E4E4E4;

}
header #right-header .account
{
    font-size: 24px;
    background-color: #E4E4E4;
    margin-right: 10px;
    margin-left: 5px;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
}




#main-content
{
    display: flex;
}

#main-content #left-nav-bar
{
    width: 76px;
    height: calc(100vh - 56px);
    background-color: white;
    padding: 2px 4px 0px 4px;
}
#main-content #left-nav-bar a
{
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px 14px;
    border-radius: 20%;

}
#main-content #left-nav-bar a:hover
{
    background-color: #f4f4f4;
}
#main-content #left-nav-bar a .icon
{
    font-size: 24px;
    margin-bottom: 5px;
}


#main-content #right-section
{
    width: calc(100vw - 76px);
    height: calc(100vh - 56px);
    background-color: white;
}

#main-content #right-section #tags-bar
{
    height: 56px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 3px 10px;
    scroll-behavior: auto;
    scrollbar-width: none;
}
#main-content #right-section #tags-bar h2
{
    font-size: 14px;
    font-weight: 10px;
    width: fit-content;
    margin: 12px 12px 12px 0px;
    padding: 12px 12px;
    background-color: #F1F1F1;
    border-radius: 15px;
}

#main-content #right-section #display-videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#main-content #right-section #display-videos .window{
    width: 320px;
    height: 260px;
    margin-bottom: 20px;

}
#main-content #right-section #display-videos .window .thumbnail
{
    width: 100%;
    height: 190px;
    margin-bottom: 7px;
}
#main-content #right-section #display-videos .window .thumbnail img
{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 5px 5px;
}
#main-content #right-section #display-videos .window .video-info
{
    height: 70;
    display: flex;
    padding: 3px;
}
#main-content #right-section #display-videos .window .video-info .creator
{
    height: 100%;
    width: 36px;
    margin-right: 10px;
}
#main-content #right-section #display-videos .window .video-info .creator img
{
    width: 100%;
    border-radius: 50%;
}

#main-content #right-section #display-videos .window .video-info h3, p
{
    font-size: 14px;
    margin: 0;
    padding: 0;
}
